# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\15软件6班-马鑫鸿-09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
